<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <h1 id="heading">V SEMESTER SGPA</h1>
    
    <form id="enter-marks-form" action="" method="POST">
        {% csrf_token %}
        <div id="input-fields">
            <input class="enter-sgpa" type="text" placeholder="18XX51" name="5sem1">
            <input class="enter-sgpa" type="text" placeholder="18XX52" name="5sem2">
            <input class="enter-sgpa" type="text" placeholder="18XX52" name="5sem3">
            <input class="enter-sgpa" type="text" placeholder="18XX54" name="5sem4">
            <input class="enter-sgpa" type="text" placeholder="18XX55" name="5sem5">
            <input class="enter-sgpa" type="text" placeholder="18XX56" name="5sem6">
            <input class="enter-sgpa" type="text" placeholder="18XXL57" name="5sem7">
            <input class="enter-sgpa" type="text" placeholder="18XXL58" name="5sem8">
            <input class="enter-sgpa" type="text" placeholder="ENVIRONMENTAL STUDIES" name="env">
        </div>
        <button id="calc-sgpa-button">CALCULATE <br>SGPA</button>
    </form>
    {% if my_data5 %}
        <h1 id="final-display">SGPA: {{ my_data5 }}</h1>
    {% endif %}
</body>
</html>