<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <h1 id="heading">VII SEMESTER CSE/ISE</h1>
    
    <form id="enter-marks-form" action="" method="POST">
        {% csrf_token %}
        <div id="input-fields">
            <input class="enter-sgpa" type="text" placeholder="18CS71" name="7sem1">
            <input class="enter-sgpa" type="text" placeholder="18CS72" name="7sem2">
            <input class="enter-sgpa" type="text" placeholder="18CS73X" name="7sem3">
            <input class="enter-sgpa" type="text" placeholder="18CS74X" name="7sem4">
            <input class="enter-sgpa" type="text" placeholder="18CS75X" name="7sem5">
            <input class="enter-sgpa" type="text" placeholder="18CSL76" name="7sem6">
            <input class="enter-sgpa" type="text" placeholder="18CSP77" name="7sem7">
        </div>
        <button id="calc-sgpa-button">CALCULATE <br>SGPA</button>
    </form>
    {% if my_data71 %}
        <h1 id="final-display">SGPA: {{ my_data71 }}</h1>
    {% endif %}
</body>
</html>